<ng-container *transloco="let t; read: 'print_proxy'">
  <div class="modal-header">
    <h4 class="modal-title d-flex align-items-center">
      {{ t('title') }}
    </h4>
    <button type="button" class="btn-close" [attr.aria-label]="'shared.close' | transloco"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <ul class="col-12 col-sm-12 col-md-12 col-lg-6 p-1 list-group">
        <li class="list-group-item list-group-item-primary">
          {{ t('crypt') }}
          <span class="float-end">
            <i class="btn-icon bi bi-check2-all bi-fs-1_2x ms-2" aria-hidden="true" [title]="t('select_all')"
              (click)="selectAllCrypt()" onkeydown="javascript:void(0)"></i>
            <i class="btn-icon bi bi-arrow-repeat bi-fs-1_2x ms-2" aria-hidden="true" [title]="t('reset')"
              (click)="resetCryptCards()" onkeydown="javascript:void(0)"></i>
          </span>
        </li>
        @for(card of cardList(); track card.cardId){
        @if(card.isCrypt){
        <div>
          <app-crypt [card]="{id: card.cardId, number: card.amount}" [overrideImage]="card.set?.imageUrl"
            [withControls]="true" [maxNumber]="card.maxAmount" (cardAdded)="addCard($event)"
            (cardRemoved)="removeCard($event)"></app-crypt>
          @if(card.setControl){
          <select class="form-select form-select-sm" [attr.aria-label]="t('select_arial')"
            [formControl]="card.setControl">
            @for(setOption of card.setOptions; track setOption.setAbbrev){
            <option [value]="setOption.setAbbrev">{{ setOption.setName }}</option>
            }
          </select>
          }
        </div>
        }
        }
      </ul>
      <ul class="col-12 col-sm-12 col-md-12 col-lg-6 p-1 list-group">
        <li class="list-group-item list-group-item-primary">
          {{ t('library') }}
          <span class="float-end">
            <i class="btn-icon bi bi-check2-all bi-fs-1_2x ms-2" aria-hidden="true" [title]="t('select_all')"
              (click)="selectAllLibrary()" onkeydown="javascript:void(0)"></i>
            <i class="btn-icon bi bi-arrow-repeat bi-fs-1_2x ms-2" aria-hidden="true" [title]="t('reset')"
              (click)="resetLibraryCards()" onkeydown="javascript:void(0)"></i>
          </span>
        </li>
        @for(card of cardList(); track card.cardId){
        @if(card.isLibrary){
        <div>
          <app-library [card]="{id: card.cardId, number: card.amount}" [overrideImage]="card.set?.imageUrl"
            [withControls]="true" [maxNumber]="card.maxAmount" (cardAdded)="addCard($event)"
            (cardRemoved)="removeCard($event)"></app-library>
        </div>
        @if(card.setControl){
        <select class="form-select form-select-sm" aria-label="Select proxy image" [formControl]="card.setControl">
          @for(setOption of card.setOptions; track setOption.setAbbrev){
          <option [value]="setOption.setAbbrev">{{ setOption.setName }}</option>
          }
        </select>
        }
        }
        }
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-center align-self-center w-100">
      <button type="button" ngbAutofocus class="btn btn-success me-3" (click)="onPrint()">
        {{ t('print') }}
      </button>
      <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
        {{ 'shared.cancel' | transloco }}
      </button>
    </div>
  </div>
</ng-container>