<div class="card text-center shadow-2-strong h-100">
  <div class="view shadow-5-strong">
    <h5>{{ title | titlecase }}</h5>
  </div>
  <div class="card-body p-0 py-2">
    @if (decks) {
    <div class="container-fluid">
      <div class="row">
        @for (deck of decks; track deck.id) {
        <div class="col-12">
          <app-deck-card [deck]="deck" height="230px" (tagClick)="onTagClick($event)" />
        </div>
        }
      </div>
    </div>
    } @else {
    <div class="container-fluid">
      <div class="row">
        @for (item of [].constructor(6); track item; let i = $index) {
        <div class="col-12">
          <div class="deck-card border border-2 rounded-3 center hover-shadow my-2 text-black border-dark"
            style="min-height: 190px">
            <app-loading />
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
  <div class="card-footer white">
    <a class="btn btn-success btn-rounded btn-lg" routerLink="/decks" [queryParams]="deckParams" role="button">
      {{ 'home.see_more' | transloco }}
    </a>
  </div>
</div>