<li ngbDropdown class="language-selector nav-item dropdown" display="dynamic" *transloco="let t; read: 'language'">
  <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdownUser" role="button" aria-expanded="false">
    <span *ngIf="isMobile$ | async" class="me-1">
      {{ t('title') }}
    </span>
    <i class="bi bi-fs-1_2x fw-bold bi-translate"></i>
  </a>
  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownUser">
    <a *ngFor="let language of languages" ngbDropdownItem href="javascript:void(0)"
      (click)="switchLanguage(language.code)" [ngClass]="{'active':isActive(language.code)}">
      <img [src]="language.icon" class="language-icon">{{ language.title }}
    </a>
  </div>
</li>
