header {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  z-index: 100;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1001;
}

.filters-mobile {
  position: fixed;
  top: 50vh;
  left: -20px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.filters-desktop {
  overflow-y: auto;
  max-height: calc(100dvh - 65px);
  max-height: calc(100vh - 65px);
  position: sticky;
  top: 65px;
  direction: rtl;
}

.filters-desktop-container {
  direction: ltr;
  margin-bottom: 75px;
}

.scroll-container {
  scroll-margin-top: 65px;
}
