<ng-container *transloco="let t; prefix: 'decks'">
  <div id="container" class="h-100">
    <header class="border-bottom mb-3 p-2 sticky-top bg-light">
      <form [formGroup]="mainForm" class="d-flex flex-column flex-md-row align-items-center g-2">
        <div class="col-auto flex-fill">
          <span class="me-md-auto" [innerHTML]="t('total_decks', { total: total$ | async })">
          </span>
        </div>
        <div class="row ms-1">
          <div class="col-12 col-md-6">
            <div class="input-group">
              <label class="input-group-text" for="deckType">
                <i class="bi bi-stack" aria-hidden="true"></i>
              </label>
              <select *isLogged="true" class="form-select" id="deckType" formControlName="type">
                <option value="ALL">{{ t('all') }}</option>
                <option value="USER">{{ t('my_decks') }}</option>
                <option value="TOURNAMENT">{{ t('tournament') }}</option>
                <option value="COMMUNITY">{{ t('community') }}</option>
                <option value="PRECONSTRUCTED">{{ t('preconstructed') }}</option>
              </select>
              <select *isLogged="false" class="form-select" id="deckType" formControlName="type">
                <option value="ALL">{{ t('all') }}</option>
                <option value="TOURNAMENT">{{ t('tournament') }}</option>
                <option value="COMMUNITY">{{ t('community') }}</option>
                <option value="PRECONSTRUCTED">{{ t('preconstructed') }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="input-group">
              <label class="input-group-text" for="deckOrder">
                <i class="bi bi-sort-alpha-down" aria-hidden="true"></i>
              </label>
              <select class="form-select" id="deckOrder" formControlName="order">
                <option value="NEWEST">{{ t('newest') }}</option>
                <option value="OLDEST">{{ t('oldest') }}</option>
                <option value="MODIFIED">{{ t('modified') }}</option>
                <option value="NAME">{{ t('name') }}</option>
                <option value="POPULAR">{{ t('popular') }}</option>
                <option value="RATE">{{ t('rate') }}</option>
                <option value="VOTES">{{ t('votes') }}</option>
                <option value="VIEWS">{{ t('views') }}</option>
                <option value="COMMENTS">{{ t('comments') }}</option>
                <option value="PLAYERS">{{ t('players_twd') }}</option>
              </select>
            </div>
          </div>
        </div>
        @if ((isMobileOrTablet$ | async)!) {
        <div class="row mt-2">
          <div class="col-auto">
            <button type="button" class="btn btn-secondary" (click)="openFilters(filtersMobile)">
              <i class="bi bi-funnel-fill"></i><span> {{ t('filters') }}</span>
            </button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-danger" (click)="resetFilters()">
              <i class="bi bi-arrow-clockwise"></i> {{ t('reset') }}
            </button>
          </div>
        </div>
        }
      </form>
    </header>
    <div class="scroll-container row">
      @if (!(isMobileOrTablet$ | async)!) {
      <div class="col-3 filters-desktop">
        <div class="filters-desktop-container">
          <app-deck-filters #filters (resetFilters)="reset()" />
        </div>
      </div>
      }
      <main class="p-0" [ngClass]="{
        'col-12': (isMobileOrTablet$ | async),
        'col-9': !(isMobileOrTablet$ | async)
      }">
        <div class="decks-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
          [infiniteScrollDisabled]="(isLoading$ | async) ?? false" (scrolled)="onScroll()">
          @if ((decks$ | async)!; as decks) {
          @for (deck of decks; track deck) {
          <div class="col-12 px-2">
            <app-deck-card [deck]="deck" (tagClick)="onTagClick($event)" />
          </div>
          }
          @if (!(isLoading$ | async)! && decks.length === 0) {
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger btn-lg" (click)="resetFilters()">
              {{ t('reset') }}
            </button>
          </div>
          }
          }
        </div>
        @if ((restorableDecks$ | async)!; as decks) {
        <div>
          <div class="col-12 px-2">
            @for (deck of decks; track deck) {
            <app-deck-restorable-card [deck]="deck" />
            }
          </div>
        </div>
        }
        @if (isLoading$ | async) {
        <div class="alert alert-light">
          <app-loading />
          <div style="height: 100vh"></div>
        </div>
        } @else if((hasMore$ | async)!) {
        <div class="d-flex justify-content-center my-3">
          <button type="button" class="btn btn-primary" (click)="onScroll()">
            {{ t('show_more') }}
          </button>
        </div>
        }
      </main>
    </div>
  </div>
  @if (showScrollButton$ | async) {
  <button class="btn btn-secondary btn-lg border back-to-top" placement="start" [ngbTooltip]="t('back_to_top')"
    (click)="scrollToTop()">
    <i class="bi bi-chevron-up"></i>
  </button>
  }
  <ng-template #filtersMobile let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvas-basic-title"><i class="bi bi-funnel-fill"></i>&nbsp;{{ t('filters') }}
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
      <app-deck-filters #filters (resetFilters)="reset()" />
    </div>
    <div class="offcanvas-footer">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" (click)="offcanvas.dismiss('Apply')">
          {{ 'shared.apply' | transloco }}
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>