header {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  z-index: 100;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 85px;
  z-index: 1001;

  @media (max-width: 768px) {
    right: 25px;
  }
}

.filters-desktop {
  overflow-y: auto;
  max-height: calc(100dvh - 65px);
  max-height: calc(100vh - 65px);
  position: sticky;
  top: 65px;
  direction: rtl;
}

.filters-desktop-container {
  direction: ltr;
  margin-bottom: 75px;
}

.scroll-container {
  scroll-margin-top: 65px;
}
