@if(crypt$ | async; as crypt){
<!-- eslint-disable-next-line -->
<a class="list-group-item list-group-item-action disable-select" #popover="ngbPopover" [disablePopover]="disablePopover"
  [ngbPopover]="imgPopover" triggers="mouseenter:mouseleave" container="body"
  (click)="disableClickPopover ? popover.close() : popover.open()" [ngStyle]="background && {
    background: 'url('+ cdnDomain + crypt.cropImage + ') scroll',
    'background-repeat': 'no-repeat',
    'background-position': 'right 33%',
    'background-size': '50%'
  } || null" [autoClose]="withControls && (isMobile$ | async)!">
  <ng-template #imgPopover>
    <img #image [ngClass]="{
        'img-popover': !(isMobile$ | async)!,
        'img-popover-mobile': (isMobile$ | async)!
      }" [src]="overrideImage ? overrideImage : crypt | cardImage:setAbbrev" [alt]="crypt.name"
      (error)="image.src = cdnDomain + crypt.image" />
    <h6 class="text-white">
      @if(cryptSize && card.number > 0){
      <span class="fw-normal">1+</span>&nbsp;<span class="text-info">{{getDrawProbability(1)}}%</span>&nbsp;
      }
      @if(cryptSize && card.number > 1){
      <span class="fw-normal">2+</span>&nbsp;<span class="text-info">{{getDrawProbability(2)}}%</span>&nbsp;
      }
      @if(cryptSize && card.number > 2){
      <span class="fw-normal">3+</span>&nbsp;<span class="text-info">{{getDrawProbability(3)}}%</span>&nbsp;
      }
      @if(cryptSize && card.number > 3){
      <span class="fw-normal">4+</span>&nbsp;<span class="text-info">{{getDrawProbability(4)}}%</span>
      }
    </h6>
    @if(card.collection){
    <app-collection-card-mini-stats [card]="card" />
    }
  </ng-template>
  <div class="row align-items-center">
    <div class="col-6">
      <div class="row">
        @if(withControls && (card.number || maxNumber)){
        <div class="col-auto">
          <i class="btn-icon bi bi-fs-1_5x" [ngClass]="{
              'bi-square btn-transparent': card.number <= 0,
              'bi-x-square text-danger': card.number > 0 &&card.number <= 1,
              'bi-dash-square': card.number > 1
              }" aria-hidden="true" (click)="removeCard($event)"></i>
        </div>
        }
        @if(!withDrawProbability && (card.number || maxNumber)){
        <div class="col-auto bg-primary-subtle deck_number h-100" [ngClass]="{
          'mt-2': withControls
        }">
          {{ card.number }}@if(maxNumber){<span>/{{ maxNumber }}</span>}
        </div>
        }
        @if(withControls){
        <div class="col-auto">
          <i class="btn-icon bi bi-plus-square bi-fs-1_5x" aria-hidden="true" (click)="addCard($event)"></i>
        </div>
        }
        <div class="col-9 align-items-center">
          @if(card.collection){
          <div class="float-start me-1">
            <app-collection-card-tracker [card]="card" />
          </div>
          }
          @if( crypt.i18n && crypt.i18n.name !== crypt.name ){
          <div class="float-start d-flex flex-column">
            <span class="text-body">{{ crypt.i18n.name }}</span>
            <span class="text-muted default-locale-name">
              {{ crypt.name }}
            </span>
          </div>
          }
          @else{
          <div class="float-start d-flex flex-column">
            <span class="text-body">{{ crypt.name }}</span>
            @if(crypt.aka && crypt.aka !== crypt.name){
            <span class="text-muted default-locale-name">
              {{ crypt.aka }}
            </span>
            }
          </div>
          }
          @if(crypt.banned){
          <span class="ms-1 float-start badge text-bg-danger">
            {{ 'deck_shared.banned' | transloco }}
          </span>
          }
          @if(crypt.unreleased){
          <span class="ms-1 float-start badge text-bg-danger">
            {{ 'deck_shared.unreleased' | transloco }}
          </span>
          }
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          @for(discipline of crypt.disciplineIcons; track discipline){
          <i class="vtes" [ngClass]="discipline"></i>
          }
          @if(withDrawProbability){
          <small class="float-end d-none d-sm-inline ms-1">
            <span class="badge rounded-pill bg-light text-info">
              {{getDrawProbability(1)}}%
            </span>
          </small>
          }
          <small class="float-end d-none d-sm-inline">
            <span class="badge rounded-pill bg-light text-body crypt_group">
              {{ crypt.group === -1 ? "any" : "G"+crypt.group }}
            </span>
          </small>
          <i class="vtes float-end me-1" [ngClass]="crypt.clanIcon"></i>
          @if(crypt.pathIcon){
          <i class="vtes path float-end me-1" [ngClass]="crypt.pathIcon"></i>
          }
          @if(crypt.adv){
          <i class="vtes float-end advanced me-1"></i>
          }
          <span class="badge rounded-pill bg-danger me-1 float-end">
            {{ crypt.capacity }}
          </span>
        </div>
      </div>
    </div>
  </div>
</a>
} @else {
<div class="list-group-item list-group-item-action">
  <ngx-skeleton-loader count="1" animation="progress" [theme]="{
        height: '20px',
        'margin-bottom': '0'
      }" />
</div>
}