<ng-container *transloco="let t; prefix: 'deck_archetype'">
  @let isMaintainer = isMaintainer$ | async;
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0 text-start">{{ t('title') }}</h3>
    @if (isMaintainer) {
    <button class="btn btn-sm btn-primary" (click)="openModal()">
      {{ t('create') }}
    </button>
    }
  </div>

  <div class="row g-3 card-deck-archetype">
    @if(archetypes$ | async; as archetypes){
    @for (archetype of archetypes; track archetype.id) {
    <div class="col-12 col-sm-6 col-md-4">
      <app-deck-archetype-card [archetype]="archetype"></app-deck-archetype-card>
    </div>
    }
    }
  </div>
</ng-container>