@if (isLoading$ | async) {
<div class="alert alert-light">
  <app-loading [size]="10" />
  <div style="height: 100vw"></div>
</div>
}
<ng-container *transloco="let t; prefix: 'deck'">
  @if ((deck$ | async)!; as deck) {
  <main class="container-fluid bg-light1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-11" role="main">
    <div class="row">
      <section class="dark-grey-text col-12">
        <div class="mb-2 bg-light rounded-3">
          <div class="container-fluid py-4">
            <div class="row align-items-center">
              <div class="col-12 col-md-8 text-center text-md-start">
                <div class="d-flex justify-content-center justify-content-md-start align-items-center mb-2">
                  <a [ngbTooltip]="t('add_to_bookmarks')" placement="top" #bookmarkTooltip="ngbTooltip"
                    (click)="toggleBookmark()" class="me-3">
                    <i class="bi bi-fs-1_5x text-black" [ngClass]="{
                      'bi-bookmark-star': !isBookmarked,
                      'bi-bookmark-star-fill': isBookmarked
                    }"></i>
                  </a>
                  <h3 class="fw-bold mb-0">{{ deck.name | titlecase }}</h3>
                </div>
                <div class="deck-meta">
                  <p class="mb-1 d-flex align-items-center flex-wrap justify-content-center justify-content-md-start">
                    @if(deck.user){
                    <a class="text-decoration-none d-inline-flex align-items-center"
                      [routerLink]="'/user/' + deck.author">
                      @if(deck.user.profileImage) {
                      <img [src]="deck.user.profileImage" alt="" class="rounded-circle me-2" width="32" height="32">
                      }
                      <span>
                        <strong>{{ deck.author }}</strong>
                        @if(isSupporter){
                        <i class="bi bi-patch-check-fill text-primary ms-1"
                          [title]="'shared.supporter' | transloco"></i>
                        }
                      </span>
                    </a>
                    }@else {
                    <b>{{ t('created_by') }}: </b>
                    <a class="text-decoration-none ms-1" routerLink="/decks" [queryParams]="{
                      author: deck.author,
                      type: deck.type
                    }">
                      <strong>
                        {{ deck.author }}
                        @if(isSupporter){
                        <i class="bi bi-patch-check-fill" [title]="'shared.supporter' | transloco"></i>
                        }
                      </strong>
                    </a>
                    }
                    <span class="text-dark mx-1">•</span>
                    <span class="text-muted d-none d-md-inline">
                      {{ deck.creationDate | translocoDate: { dateStyle: 'long' } }}
                    </span>
                    <span class="text-muted d-md-none">
                      {{ deck.creationDate | translocoDate: { dateStyle: 'medium' } }}
                    </span>
                    @if(deck.stats.price) {
                    <span class="text-dark mx-1">•</span>
                    <span class="text-muted" [title]="t('price')">
                      {{ deck.stats.price | currency:deck.stats.currency }}
                    </span>
                    }
                  </p>
                  @if (deck.tournament) {
                  <p class="mb-1">
                    <b>{{ t('tournament') }}: </b>
                    @if (deck.url) {
                    <a class="text-decoration-none" [href]="deck.url" target="_blank">
                      {{ deck.tournament }}
                    </a>
                    } @else {
                    {{ deck.tournament }}
                    }
                    @if (deck.players) {
                    <span class="text-muted ms-2">({{ t('players', { count: deck.players })}})</span>
                    }
                  </p>
                  }
                  @if (deck.limitedFormat) {
                  <p class="mb-1">
                    <b>{{ t('limited_format') }}: </b>
                    <span class="tournament-info text-center">
                      <span class="badge bg-primary text-white small shadow-sm d-inline-flex align-items-center">
                        <i class="bi bi-funnel-fill me-1"></i>{{ deck.limitedFormat }}
                      </span>
                    </span>
                  </p>
                  }
                  @if (deck.type==='PRECONSTRUCTED' && deck.url) {
                  <p class="mb-1">
                    <a class="text-decoration-none" [href]="deck.url" target="_blank" [ngbTooltip]="t('buy_dtc')"
                      gaEvent="purchase" gaCategory="dtc" [gaLabel]="deck.name">
                      <img width="320" height="67" src="/assets/img/drive_thru_cards.png" [alt]="t('buy_dtc')" />
                    </a>
                  </p>
                  }
                  @if (deck.source) {
                  <p class="mb-1">
                    <b>{{ t('source') }}: </b>
                    <a class="text-decoration-none" [href]="deck.source" target="_blank">{{ t('twda') }}</a>
                  </p>
                  }
                </div>
              </div>
              <div class="col-12 col-md-4 mt-3 mt-md-0">
                <div class="row g-3">
                  <div class="col-6 col-md-12">
                    <div class="deck-stat-card text-center p-3 rounded-3 bg-light shadow-sm">
                      <h4 class="display-4 text-primary mb-0">
                        <animated-digit [digit]="deck.views" [duration]="2000" />
                      </h4>
                      <p class="text-uppercase text-muted mb-0">{{ t('views') }}</p>
                      <i class="bi bi-eye-fill text-primary"></i>
                    </div>
                  </div>
                  <div class="col-6 col-md-12">
                    <div class="deck-stat-card text-center p-3 rounded-3 bg-light shadow-sm">
                      <div class="rating">
                        <ng-template #starTemplate let-fill="fill">
                          <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                          </span>
                        </ng-template>
                        <ngb-rating [ngbTooltip]="t('rate_deck')" placement="bottom" #ratingTooltip="ngbTooltip"
                          [rate]="deck.rate ?? 0" [starTemplate]="starTemplate"
                          [readonly]="!(isAuthenticated$ | async)! || (userDisplayName$ | async) === deck.author"
                          [max]="5" (rateChange)="rateDeck($event)" />
                      </div>
                      <p class="text-muted mb-0">
                        <i class="bi bi-people-fill"></i>
                        {{ t('votes', { count: deck.votes }) }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div class="deck-actions d-flex flex-wrap justify-content-center gap-2">
                  @if(deck.owner){
                  <a class="btn btn-primary" [routerLink]="'/decks/builder'" [queryParams]="{id:deck.id }">
                    <i class="bi bi-pencil-square me-2"></i>{{ t('edit') }}
                  </a>
                  }@else {
                  <button class="btn btn-primary" (click)="onOpenInBuilder()" *isLogged="true">
                    <i class="bi bi-pencil-square me-2"></i>{{ t('clone') }}
                  </button>
                  }
                  @if(!deck.owner && (isAdmin$ | async)!){
                  <a class="btn btn-danger" [routerLink]="'/decks/builder'" [queryParams]="{id:deck.id }">
                    <i class="bi bi-pencil-square me-2"></i>{{ t('edit_as_admin') }}
                  </a>
                  }
                  <button class="btn" [ngClass]="{
                      'btn-outline-primary': !collectionTracker,
                      'btn-primary': collectionTracker
                    }" (click)="onCollectionTracker()" *isLogged="true">
                    <i class="bi me-2" [ngClass]="{
                      'bi-square': !collectionTracker,
                      'bi-check-square-fill': collectionTracker
                    }"></i>{{ t('collection_tracker') }}
                  </button>
                  <button class="btn btn-outline-primary" (click)="onShare()">
                    <i class="bi bi-share me-2"></i>{{ t('share') }}
                  </button>
                  <button class="btn btn-outline-primary" (click)="onDraw()">
                    <i class="bi bi-shuffle me-2"></i>{{ t('draw') }}
                  </button>
                  <button class="btn btn-outline-primary" (click)="onPrint()">
                    <i class="bi bi-printer me-2"></i>{{ 'deck_shared.print' | transloco }}
                  </button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>
                      <i class="bi bi-download me-2"></i>{{ t('export') }}
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu">
                      <div class="dropdown-header">{{ t('file') }}</div>
                      <a ngbDropdownItem class="text-black" [href]="exportUrl+'?type=LACKEY'" target="_blank"
                        gaEvent="export" gaCategory="file_lackey">
                        <i class="bi bi-file-earmark me-2"></i>Lackey
                      </a>
                      <a ngbDropdownItem class="text-black" [href]="exportUrl+'?type=JOL'" target="_blank"
                        gaEvent="export" gaCategory="file_jol">
                        <i class="bi bi-file-earmark me-2"></i>JOL
                      </a>
                      <a ngbDropdownItem class="text-black" [href]="exportUrl+'?type=TWD'" target="_blank"
                        gaEvent="export" gaCategory="file_twd">
                        <i class="bi bi-file-earmark me-2"></i>TWD
                      </a>
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-header">{{ t('clipboard') }}</div>
                      <a ngbDropdownItem class="text-black" (click)="onCopyToClipboard('LACKEY')" gaEvent="export"
                        gaCategory="clipboard_lackey">
                        <i class="bi bi-clipboard me-2"></i>Lackey
                      </a>
                      <a ngbDropdownItem class="text-black" (click)="onCopyToClipboard('JOL')" gaEvent="export"
                        gaCategory="clipboard_jol">
                        <i class="bi bi-clipboard me-2"></i>JOL
                      </a>
                      <a ngbDropdownItem class="text-black" (click)="onCopyToClipboard('TWD')" gaEvent="export"
                        gaCategory="clipboard_twd">
                        <i class="bi bi-clipboard me-2"></i>TWD
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            @if (deck.tags) {
            <div class="row mt-3">
              <div class="col-12">
                <div class="d-flex flex-wrap justify-content-center gap-2">
                  @for (tag of deck.tags; track tag) {
                  <span class="badge rounded-pill text-bg-primary btn-badge" (click)="onTag(tag)">
                    #{{ 'vtes.tags.' + tag | translocoFallback: tag }}
                  </span>
                  }
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        @if (deck.description) {
        <app-markdown-text class="mt-3" [data]="deck.description" />
        <hr class="mb-4 mt-3" />
        }
        @if (deck.erratas && deck.erratas.length > 0) {
        <div class="alert alert-warning my-3" role="alert">
          <h3><i class="bi bi-exclamation-triangle-fill me-2"></i>{{ t('errata') }}</h3>
          @for (errata of deck.erratas; track errata) {
          <p>
            <strong #popover="ngbPopover" [ngbPopover]="imgPopover" triggers="mouseenter:mouseleave" container="body"
              (click)="popover.open()">
              {{ errata.name }}
            </strong>
            {{ t('errata_modified') }}
            {{ errata.effectiveDate | translocoDate: { dateStyle: 'long' } }}.
            {{ errata.description }}
            <ng-template #imgPopover>
              <img [ngClass]="{
              'img-popover': !(isMobile$ | async)!,
              'img-popover-mobile': (isMobile$ | async)!
            }" [src]="cdnDomain + '/img/cards/' + errata.id + '.jpg'" [alt]="errata.name" />
            </ng-template>
          </p>
          }
        </div>
        }
      </section>
    </div>
    <div class="col-12 d-flex align-items-center mt-3">
      <div class="flex-grow-1"></div>
      <div class="d-flex align-items-top  justify-content-center">
        <h1>{{ 'shared.crypt' | transloco }}</h1>
        <span class="circle_number ms-2" [title]="t('total_crypt')">
          {{ deck.stats.crypt }}
        </span>
      </div>
      <div class="d-none d-md-flex flex-grow-1 d-flex justify-content-end">
        <app-toggle-icon [active]="(displayMode$ |async)!" (toggleChange)="onChangeDisplayMode($event)"
          [options]="displayModeOptions" />
      </div>
      <div class="d-md-none flex-grow-1"></div>
    </div>
    <div class="d-md-none mt-3 d-flex justify-content-center">
      <app-toggle-icon [active]="(displayMode$ |async)!" (toggleChange)="onChangeDisplayMode($event)"
        [options]="displayModeOptions" />
    </div>
    <div class="col-12 text-center mt-2">
      <div class="row justify-content-center">
        @for (disciplineStat of deck.stats.cryptDisciplines; track disciplineStat) {
        <h5 class="col-auto d-flex justify-content-center"
          [title]="t('disciplines_sup_inf', { count: disciplineStat.disciplines[0] |disciplineTransloco })">
          <i class="vtes vtes-big" [ngClass]="getDisciplineIcon(disciplineStat.disciplines[0],true)!"></i>
          &nbsp;{{ disciplineStat.superior }}&nbsp;|&nbsp;{{ disciplineStat.inferior }}
        </h5>
        }
      </div>
    </div>
    <div class="col-12 mt-3">
      @if((displayMode$ |async) === 'grid') {
      <div class="row m-2 g-2 justify-content-center">
        @for (crypt of deck.crypt; track crypt) {
        <div class="col-6 col-md-auto">
          <app-crypt-grid-card [card]="crypt" [cryptSize]="deck.stats.crypt"
            (click)="openCryptCard(crypt, deck.crypt!)" />
        </div>
        }
      </div>
      }@else{
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
        @for (crypt of deck.crypt; track crypt) {
        <ul class="col list-group">
          <app-crypt [card]="crypt" [cryptSize]="deck.stats.crypt" (click)="openCryptCard(crypt, deck.crypt!)"
            [disablePopover]="(isMobileOrTablet$ | async)!" [disableClickPopover]="true" />
        </ul>
        }
      </div>
      }
    </div>
    <div class="col-12 text-center mt-3">
      <div class="row">
        <div class="col-4">
          <p class="fw-bold mb-1">{{ deck.stats.minCrypt }}</p>
          <p class="text-uppercase mb-md-0">MIN</p>
        </div>
        <div class="col-4">
          <p class="fw-bold mb-1">{{ deck.stats.maxCrypt }}</p>
          <p class="text-uppercase mb-md-0">MAX</p>
        </div>
        <div class="col-4">
          <p class="fw-bold mb-1">{{ deck.stats.avgCrypt }}</p>
          <p class="text-uppercase mb-0">AVG</p>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex align-items-center mt-3">
      <div class="flex-grow-1"></div>
      <div class="d-flex align-items-top  justify-content-center">
        <h1>{{ 'shared.library' | transloco }}</h1>
        <span class="circle_number ms-2" [title]="t('total_library')">
          {{ deck.stats.library }}
        </span>
        <div>
          <div class="costx ms-2" [title]="t('total_pool_cost')">
            {{ deck.stats.poolCost }}<i class="vtes poolcost"></i>
          </div>
          <div class="costx ms-2" [title]="t('total_blood_cost')">
            {{ deck.stats.bloodCost }}<i class="vtes bloodcost"></i>
          </div>
        </div>
      </div>
      <div class="d-none d-md-flex flex-grow-1 d-flex justify-content-end">
        <app-toggle-icon [active]="(displayMode$ |async)!" (toggleChange)="onChangeDisplayMode($event)"
          [options]="displayModeOptions" />
      </div>
      <div class="d-md-none flex-grow-1"></div>
    </div>
    <div class="d-md-none mt-3 d-flex justify-content-center">
      <app-toggle-icon [active]="(displayMode$ |async)!" (toggleChange)="onChangeDisplayMode($event)"
        [options]="displayModeOptions" />
    </div>

    <div class="col-12 text-center mt-2">
      <div class="row justify-content-center">
        @for (disciplineStat of deck.stats.libraryDisciplines; track disciplineStat) {
        <h5 class="col-auto d-flex justify-content-center">
          @if (disciplineStat.disciplines.length === 0) {
          <span [title]="t('no_discipline')">
            <i class="bi bi-square" style="font-size: 32px;"></i>
          </span>
          }
          @for (discipline of disciplineStat.disciplines; track discipline; let isFirst = $first) {
          @if (!isFirst) {
          <span>+</span>
          }
          <i class="vtes vtes-big" [ngClass]="getDisciplineIcon(discipline,false)!"
            [title]="discipline  |disciplineTransloco"></i>
          }
          <span class="pt-1">&nbsp;{{ disciplineStat.inferior }}</span>
        </h5>
        }
        @for (clanStat of deck.stats.libraryClans; track clanStat) {
        <h5 class="col-auto d-flex justify-content-center">
          @for (clan of clanStat.clans; track clan; let isFirst = $first) {
          @if (!isFirst) {
          <span>/</span>
          }
          <i class="vtes vtes-big" [ngClass]="getClanIcon(clan)!" [title]="clan | clanTransloco"></i>
          }
          <span class="pt-1">&nbsp;{{ clanStat.number }}</span>
        </h5>
        }
      </div>
    </div>
    <div class="col-12 mt-3">
      @if (deck.library) {
      <app-library-list [libraryList]="deck.library" [displayMode]="(displayMode$ |async)!" />
      }
    </div>
    <app-ad-sense adClient="ca-pub-7379021241824282" adSlot="8573339569" adFormat="auto" fullWidthResponsive="true" />
    @if(similarDecks$ | async; as similarDecks) {
    <div class="col-12 d-flex justify-content-center mt-3">
      <h2>{{ t('similar_decks') }}</h2>
    </div>
    <div class="row">
      @for(deck of similarDecks; track deck) {
      <app-deck-card class="col-12 col-md-6" [deck]="deck" height="170px" (tagClick)="onTag($event)" />
      }
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
      <a class="btn btn-success btn-rounded btn-lg" routerLink="/decks" [queryParams]="{ bySimilarity: id }"
        role="button">
        {{ 'home.see_more' | transloco }}
      </a>
    </div>
    }
    <div class="col-12 d-flex justify-content-center mt-3">
      <h2>{{ t('comments') }}</h2>
    </div>
    <div class="col-12">
      <app-comments [deckId]="id" />
    </div>
  </main>
  }
</ng-container>