<div class="alert alert-light" *ngIf="isLoading$ | async">
  <app-loading [size]="10"></app-loading>
  <div style="height: 100vw"></div>
</div>
<ng-container *transloco="let t; read: 'deck'">
  <main class="container-fluid bg-light1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-11" role="main"
    *ngIf="(deck$ | async)! as deck">
    <div class="row">
      <section class="dark-grey-text col-12">
        <div class="mb-2 bg-light rounded-3">
          <div class="container-fluid py-4">
            <div class="row align-items-center">
              <div class="col-12 col-md-8 text-center text-md-start">
                <div class="d-flex justify-content-center justify-content-md-start align-items-center mb-2">
                  <a [ngbTooltip]="t('add_to_bookmarks')" placement="top" #bookmarkTooltip="ngbTooltip"
                    (click)="toggleBookmark()" class="me-3">
                    <i class="bi bi-fs-1_5x text-black" [ngClass]="{
                      'bi-bookmark-star': !isBookmarked,
                      'bi-bookmark-star-fill': isBookmarked
                    }"></i>
                  </a>
                  <h3 class="fw-bold mb-0">{{ deck.name | titlecase }}</h3>
                </div>
                <div class="deck-meta">
                  <p class="mb-1">
                    {{ t('created_by') }}
                    <a class="text-decoration-none" routerLink="/decks" [queryParams]="{
                      author: deck.author,
                      type: deck.type
                    }">
                      <strong>{{ deck.author }}</strong>
                    </a>
                    <span class="text-muted ms-2">
                      {{ deck.creationDate | translocoDate: { dateStyle: 'long' } }}
                    </span>
                  </p>
                  <p *ngIf="deck.tournament" class="mb-1">
                    <b>{{ t('tournament') }}: </b>
                    <a *ngIf="deck.url; else noUrlTournament" class="text-decoration-none" [href]="deck.url"
                      target="_blank">
                      {{ deck.tournament }}
                    </a>
                    <ng-template #noUrlTournament>
                      {{ deck.tournament }}
                    </ng-template>
                    <ng-container *ngIf="deck.players">
                      <span class="text-muted ms-2">({{ t('players', { count: deck.players })}})</span>
                    </ng-container>
                  </p>
                  <p *ngIf="deck.type==='PRECONSTRUCTED' && deck.url" class="mb-1">
                    <a class="text-decoration-none" [href]="deck.url" target="_blank" [ngbTooltip]="t('buy_dtc')"
                      gaEvent="purchase" gaCategory="dtc" [gaLabel]="deck.name">
                      <img width="320" height="67" src="/assets/img/drive_thru_cards.png" [alt]="t('buy_dtc')" />
                    </a>
                  </p>
                  <p *ngIf="deck.source" class="mb-1">
                    <b>{{ t('source') }}: </b>
                    <a class="text-decoration-none" [href]="deck.source" target="_blank">{{ t('twda') }}</a>
                  </p>
                </div>
              </div>
              <div class="col-12 col-md-4 mt-3 mt-md-0">
                <div class="row g-3">
                  <div class="col-6 col-md-12">
                    <div class="deck-stat-card text-center p-3 rounded-3 bg-light shadow-sm">
                      <h4 class="display-4 text-primary mb-0">
                        <animated-digit [digit]="deck.views" [duration]="2000"></animated-digit>
                      </h4>
                      <p class="text-uppercase text-muted mb-0">{{ t('views') }}</p>
                      <i class="bi bi-eye-fill text-primary"></i>
                    </div>
                  </div>
                  <div class="col-6 col-md-12">
                    <div class="deck-stat-card text-center p-3 rounded-3 bg-light shadow-sm">
                      <div class="rating">
                        <ng-template #starTemplate let-fill="fill">
                          <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                          </span>
                        </ng-template>
                        <ngb-rating [ngbTooltip]="t('rate_deck')" placement="bottom" #ratingTooltip="ngbTooltip"
                          [rate]="deck.rate ?? 0" [starTemplate]="starTemplate"
                          [readonly]="!(isAuthenticated$ | async)! || (userDisplayName$ | async) === deck.author"
                          [max]="5" (rateChange)="rateDeck($event)">
                        </ngb-rating>
                      </div>
                      <p class="text-muted mb-0">
                        <i class="bi bi-people-fill"></i>
                        {{ t('votes', { count: deck.votes }) }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <div class="deck-actions d-flex flex-wrap justify-content-center gap-2">
                  <button class="btn btn-primary" (click)="onOpenInBuilder()">
                    <i class="bi bi-pencil-square me-2"></i>{{ t('clone') }}
                  </button>
                  <button class="btn btn-outline-primary" (click)="onShare()">
                    <i class="bi bi-share me-2"></i>{{ t('share') }}
                  </button>
                  <button class="btn btn-outline-primary" (click)="onDraw()">
                    <i class="bi bi-shuffle me-2"></i>{{ t('draw') }}
                  </button>
                  <button class="btn btn-outline-primary" (click)="onPrint()">
                    <i class="bi bi-printer me-2"></i>{{ 'deck_shared.print' | transloco }}
                  </button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>
                      <i class="bi bi-download me-2"></i>{{ t('export') }}
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu">
                      <div class="dropdown-header">{{ t('file') }}</div>
                      <a ngbDropdownItem class="text-black" [href]="exportUrl+'?type=LACKEY'" target="_blank"
                        gaEvent="export" gaCategory="file_lackey">
                        <i class="bi bi-file-earmark me-2"></i>Lackey
                      </a>
                      <a ngbDropdownItem class="text-black" [href]="exportUrl+'?type=JOL'" target="_blank"
                        gaEvent="export" gaCategory="file_jol">
                        <i class="bi bi-file-earmark me-2"></i>JOL
                      </a>
                      <a ngbDropdownItem class="text-black" [href]="exportUrl+'?type=TWD'" target="_blank"
                        gaEvent="export" gaCategory="file_twd">
                        <i class="bi bi-file-earmark me-2"></i>TWD
                      </a>
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-header">{{ t('clipboard') }}</div>
                      <a ngbDropdownItem class="text-black" (click)="onCopyToClipboard('LACKEY')" gaEvent="export"
                        gaCategory="clipboard_lackey">
                        <i class="bi bi-clipboard me-2"></i>Lackey
                      </a>
                      <a ngbDropdownItem class="text-black" (click)="onCopyToClipboard('JOL')" gaEvent="export"
                        gaCategory="clipboard_jol">
                        <i class="bi bi-clipboard me-2"></i>JOL
                      </a>
                      <a ngbDropdownItem class="text-black" (click)="onCopyToClipboard('TWD')" gaEvent="export"
                        gaCategory="clipboard_twd">
                        <i class="bi bi-clipboard me-2"></i>TWD
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3" *ngIf="deck.tags">
              <div class="col-12">
                <div class="d-flex flex-wrap justify-content-center gap-2">
                  <span *ngFor="let tag of deck.tags" class="badge rounded-pill text-bg-primary btn-badge"
                    (click)="onTag(tag)">
                    #{{ 'vtes.tags.' + tag | translocoFallback: tag }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="deck.description">
          <div class="mt-3" [innerHTML]="deck.description"></div>
          <hr class="mb-4 mt-3" />
        </ng-container>
        <ng-container *ngIf="deck.erratas && deck.erratas.length > 0">
          <div class="alert alert-warning my-3" role="alert">
            <h3><i class="bi bi-exclamation-triangle-fill me-2"></i>{{ t('errata') }}</h3>
            <p *ngFor="let errata of deck.erratas">
              <strong #popover="ngbPopover" [ngbPopover]="imgPopover" triggers="mouseenter:mouseleave" container="body"
                (click)="popover.open()">
                {{ errata.name }}
              </strong>
              {{ t('errata_modified') }}
              {{ errata.effectiveDate | translocoDate: { dateStyle: 'long' } }}.
              {{ errata.description }}
              <ng-template #imgPopover>
                <img [ngClass]="{
              'img-popover': !(isMobile$ | async)!,
              'img-popover-mobile': (isMobile$ | async)!
            }" [src]="'/assets/img/cards/' + errata.id + '.jpg'" [alt]="errata.name" />
              </ng-template>
            </p>
          </div>
        </ng-container>
      </section>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
      <h1>{{ 'shared.crypt' | transloco }}</h1>
      <span class="circle_number ms-2" [title]="t('total_crypt')">
        {{ deck.stats.crypt }}
      </span>
    </div>
    <div class="col-12 text-center mt-2">
      <div class="row justify-content-center">
        <h5 class="col-auto d-flex justify-content-center" *ngFor="let disciplineStat of deck.stats.cryptDisciplines"
          [title]="t('disciplines_sup_inf', { count: disciplineStat.disciplines[0] |disciplineTransloco })">
          <i class="vtes-big" [ngClass]="getDisciplineIcon(disciplineStat.disciplines[0],true)!"></i>
          &nbsp;{{ disciplineStat.superior }}&nbsp;|&nbsp;{{ disciplineStat.inferior }}
        </h5>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
        <ul class="col list-group" *ngFor="let crypt of deck.crypt">
          <app-crypt [card]="crypt" [cryptSize]="deck.stats.crypt" (click)="openCryptCard(crypt, deck.crypt!)"
            [disablePopover]="(isMobileOrTablet$ | async)!"></app-crypt>
        </ul>
      </div>
    </div>
    <div class="col-12 text-center mt-3">
      <div class="row">
        <div class="col-4">
          <p class="fw-bold mb-1">{{ deck.stats.minCrypt }}</p>
          <p class="text-uppercase mb-md-0">MIN</p>
        </div>
        <div class="col-4">
          <p class="fw-bold mb-1">{{ deck.stats.maxCrypt }}</p>
          <p class="text-uppercase mb-md-0">MAX</p>
        </div>
        <div class="col-4">
          <p class="fw-bold mb-1">{{ deck.stats.avgCrypt }}</p>
          <p class="text-uppercase mb-0">AVG</p>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
      <h1>{{ 'shared.library' | transloco }}</h1>
      <span class="circle_number ms-2" [title]="t('total_library')">
        {{ deck.stats.library }}
      </span>
      <div>
        <div class="costx ms-2" [title]="t('total_pool_cost')">
          {{ deck.stats.poolCost }}<i class="vtes poolcost"></i>
        </div>
        <div class="costx ms-2" [title]="t('total_blood_cost')">
          {{ deck.stats.bloodCost }}<i class="vtes bloodcost"></i>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mt-2">
      <div class="row justify-content-center">
        <h5 class="col-auto d-flex justify-content-center" *ngFor="let disciplineStat of deck.stats.libraryDisciplines">
          <span *ngIf="disciplineStat.disciplines.length === 0" [title]="t('no_discipline')">
            <i class="bi bi-square" style="font-size: 32px;"></i>
          </span>
          <ng-container *ngFor="let discipline of disciplineStat.disciplines; let isFirst = first">
            <span *ngIf="!isFirst">+</span>
            <i class="vtes-big" [ngClass]="getDisciplineIcon(discipline,false)!"
              [title]="discipline  |disciplineTransloco"></i>
          </ng-container>
          <span class="pt-1">&nbsp;{{ disciplineStat.inferior }}</span>
        </h5>
        <h5 class="col-auto d-flex justify-content-center" *ngFor="let clanStat of deck.stats.libraryClans">
          <ng-container *ngFor="let clan of clanStat.clans; let isFirst = first">
            <span *ngIf="!isFirst">/</span>
            <i class="vtes-big" [ngClass]="getClanIcon(clan)!" [title]="clan | clanTransloco"></i>
          </ng-container>
          <span class="pt-1">&nbsp;{{ clanStat.number }}</span>
        </h5>
      </div>
    </div>
    <div class="col-12 mt-3">
      <app-library-list *ngIf="deck.library" [libraryList]="deck.library"></app-library-list>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
      <h2>{{ t('comments') }}</h2>
    </div>
    <div class="col-12">
      <app-comments [deckId]="id"></app-comments>
    </div>
  </main>
</ng-container>