<div class="card text-center shadow-2-strong h-100" *transloco="let t; prefix: 'home'">
  <div class="view shadow-5-strong">
    <h5>
      {{ t('metagame') }}
      <i class="bi bi-question-circle fs-5 ms-1 text-light" [ngbTooltip]="'deck_metagame.tooltip' | transloco"
        placement="right" container="body" triggers="mouseenter:mouseleave" tabindex="0" role="button"></i>
    </h5>
  </div>
  <div class="card-body p-0 py-2">
    <app-deck-metagame [limit]="6"></app-deck-metagame>
  </div>
  <div class="card-footer white">
    <a class="btn btn-success btn-rounded btn-lg" routerLink="/metagame" role="button">
      {{ t('see_more') }}
    </a>
  </div>
</div>