<ng-container *transloco="let t; prefix: 'library_section'">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'library_builder.title' | transloco }}</h4>
    <button type="button" class="btn-close me-2" [attr.aria-label]="'shared.close' | transloco"
      (click)="modal.dismiss()"></button>

  </div>
  <div class="modal-header">
    <form class="flex-fill mb-2">
      <div class="row g-2 justify-content-center" [ngClass]="{ 'g-1': (isMobileOrTablet$ | async)! }">
        <div class="col-12 col-sm mb-2">
          <input type="text" class="form-control rounded-3" id="name" [placeholder]="t('card_name')"
            [formControl]="nameFormControl">
        </div>
        <app-toggle-icon class="col-auto d-inline-block" [active]="(displayMode$ |async)!"
          (toggleChange)="onChangeDisplayMode($event)" [options]="displayModeOptions" />
        <div ngbDropdown class="col-auto d-inline-block">
          <button type="button" class="btn btn-primary" id="dropdownSortBy" ngbDropdownToggle
            [disabled]="sortByTrigramSimilarity">
            <i class="bi bi-sort-alpha-down"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownSortBy">
            <button ngbDropdownItem (click)="onChangeSortBy('relevance',$event)"
              [ngClass]="{'active': sortBy ==='relevance'}">
              {{ t('relevance') }}
            </button>
            <button ngbDropdownItem (click)="onChangeSortBy('name',$event)" [ngClass]="{'active': sortBy ==='name'}">
              {{ t('name') }}
            </button>
            <button ngbDropdownItem (click)="onChangeSortBy('type',$event)" [ngClass]="{'active': sortBy ==='type'}">
              {{ t('type') }}
            </button>
            <button ngbDropdownItem (click)="onChangeSortBy('deckPopularity',$event)"
              [ngClass]="{'active': sortBy ==='deckPopularity'}" [title]="t('deck_popularity_title')">
              {{ t('deck_popularity') }}
            </button>
            <button ngbDropdownItem (click)="onChangeSortBy('cardPopularity',$event)"
              [ngClass]="{'active': sortBy ==='cardPopularity'}" [title]="t('card_popularity_title')">
              {{ t('card_popularity') }}
            </button>
            <button ngbDropdownItem (click)="onChangeSortBy('minPrice',$event)"
              [ngClass]="{'active': sortBy ==='minPrice'}">
              {{ t('price') }}
            </button>
          </div>
        </div>
        @if (!(isMobileOrTablet$ | async)!) {
        <div class="col-auto d-inline-block">
          <button type="button" class="btn btn-danger" (click)="initFilters()">
            <i class="bi bi-arrow-clockwise"></i>{{ t('reset') }}
          </button>
        </div>
        }
        @if ((isMobileOrTablet$ | async)!) {
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="openModal(filterModal)">
            <i class="bi bi-funnel-fill"></i>@if (!(isMobile$ | async)!) {
            <span>{{ t('filters') }}</span>
            }
          </button>
        </div>
        }
      </div>
    </form>
  </div>
  <div class="modal-body">
    <div class="row">
      @if ((isMobileOrTablet$ | async) === false) {
      <div class="col-4">
        <ng-container *ngTemplateOutlet="filter" />
      </div>
      }
      <div [ngClass]="{
      'col-12': (isMobileOrTablet$ | async),
      'col-8': (isMobileOrTablet$ | async) === false
    }" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" infiniteScrollContainer=".modal-body"
        [fromRoot]="true" [alwaysCallback]="true" (scrolled)="onScroll()">
        @if ((library$ | async)?.length === 0) {
        <div class="d-flex justify-content-center mt-2">
          <button type="button" class="btn btn-danger btn-lg" (click)="initFilters()">
            {{ t('reset_filters') }}
          </button>
        </div>
        }
        @if((displayMode$ |async) === 'grid') {
        <div class="row mx-2 mb-2 g-1 justify-content-center">
          @for (library of library$ | async ; track library.id) {
          <div class="col-6 col-md-auto">
            <app-library-grid-card [card]="getCard(library)" [librarySize]="(librarySize$ | async)!"
              [withControls]="true" (cardAdded)="addCard($event)" (cardRemoved)="removeCard($event)" />
          </div>
          }
        </div>
        }@else{
        @for (library of library$ | async; track library.id) {
        <ul class="col list-group">
          <app-library [card]="getCard(library)" [librarySize]="(librarySize$ | async)!" [withControls]="true"
            (cardAdded)="addCard($event)" (cardRemoved)="removeCard($event)" />
        </ul>
        }
        }
      </div>
    </div>
  </div>

  <ng-template #filterModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"><i class="bi bi-funnel-fill"></i>{{ t('filters') }}</h4>
      <button type="button" class="btn-close" [attr.aria-label]="'shared.close' | transloco"
        (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <ng-container *ngTemplateOutlet="filter" />
    </div>
    <div class="modal-footer">
      <div class="d-grid gap-2 w-100">
        <button type="button" class="btn btn-primary" (click)="modal.dismiss('Apply')">
          {{ 'shared.apply' | transloco }}
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #filter>
    <app-library-builder-filter [(limitedFormat)]="limitedFormat" (limitedFormatChange)="onChangeLimitedFormat($event)"
      [(clans)]="clans" (clansChange)="onChangeClanFilter($event)" [(disciplines)]="disciplines"
      (disciplinesChange)="onChangeDisciplineFilter($event)" [(sect)]="sect" (sectChange)="onChangeSectFilter($event)"
      [(path)]="path" (pathChange)="onChangePathFilter($event)" [(taints)]="taints"
      (taintsChange)="onChangeTaintsFilter($event)" [(types)]="types" (typesChange)="onChangeTypesFilter($event)"
      [(bloodCostSlider)]="bloodCostSlider" (bloodCostSliderChange)="onChangeBloodCostSliderFilter($event)"
      [(poolCostSlider)]="poolCostSlider" (poolCostSliderChange)="onChangePoolCostSliderFilter($event)"
      [(title)]="title" (titleChange)="onChangeTitleFilter($event)" [(cardText)]="cardText"
      (cardTextChange)="onChangeCardTextFilter($event)" [(set)]="set" (setChange)="onChangeSetFilter($event)"
      [predefinedLimitedFormat]="predefinedLimitedFormat"
      (predefinedLimitedFormatChange)="onChangePredefinedLimitedFormatFilter($event)" [artist]="artist"
      (artistChange)="onChangeArtistFilter($event)" />
  </ng-template>
</ng-container>