<div class="container" *transloco="let t; prefix: 'changelog'">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-12">
      <div class="mt-4">
        {{ t('reload_page') }}
      </div>
      @if(changelog$ | async; as changelogList){
      @for(changelog of changelogList; track changelog.version){
      <h5 class="mt-4">
        <span class="p-2 bg-light shadow rounded text-success"> Version {{ changelog.version }}</span> - {{
        changelog.date }}
      </h5>
      <ul class="list mt-3">
        @for(change of changelog.changes; track change){
        <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i><span [innerHTML]="change"></span></li>
        }
      </ul>
      }
      }
    </div>
  </div>
</div>