<div class="container reset-password py-5" style="height: 30vw">
  <h1>Reset Password</h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">

    <div class="form-floating mb-3">
      <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password"
        formControlName="password" autocomplete="new-password">
      <label for="floatingPassword">New Password</label>
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <div class="invalid-feedback d-block" *ngIf="password?.errors?.['required']">
          <i class="bi bi-x-circle-fill"></i> Password is required.
        </div>
        <div class="invalid-feedback d-block" *ngIf="password?.hasError('hasNumber')">
          <i class="bi bi-x-circle-fill"></i> Must contain at least 1 number!
        </div>
        <div class="invalid-feedback d-block" *ngIf="password?.hasError('minlength')">
          <i class="bi bi-x-circle-fill"></i> Must be at least 8 characters!
        </div>
        <div class="invalid-feedback d-block" *ngIf="password?.hasError('noPasswordMatch')">
          <i class="bi bi-x-circle-fill"></i> Password must match!
        </div>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control rounded-3" id="floatingConfirmPassword" placeholder="Password"
        formControlName="confirmPassword" autocomplete="new-password">
      <label for="floatingPassword">Confirm Password</label>
      <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
        <div class="invalid-feedback d-block" *ngIf="confirmPassword?.errors?.['required']">
          <i class="bi bi-x-circle-fill"></i> Confirm Password is required.
        </div>
        <div class="invalid-feedback d-block" *ngIf="confirmPassword?.hasError('hasNumber')">
          <i class="bi bi-x-circle-fill"></i> Must contain at least 1 number!
        </div>
        <div class="invalid-feedback d-block" *ngIf="confirmPassword?.hasError('minlength')">
          <i class="bi bi-x-circle-fill"></i> Must be at least 8 characters!
        </div>
        <div class="invalid-feedback d-block" *ngIf="confirmPassword?.hasError('noPasswordMatch')">
          <i class="bi bi-x-circle-fill"></i> Password must match!
        </div>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" [disabled]="resetPasswordForm.invalid">
      Reset Password
    </button>

  </form>
</div>