.library-item {
  padding: 6px 10px;
}

.img-popover {
  width: 300px;
  height: auto;

  &-mobile {
    width: 80vw;
    max-width: 300px;
  }
}

.text-name {
  color: var(--bs-body-color) !important;
  text-shadow:
    1px 0 var(--bs-body-bg),
    -1px 0 var(--bs-body-bg),
    0 1px var(--bs-body-bg),
    0 -1px var(--bs-body-bg),
    1px 1px var(--bs-body-bg),
    -1px -1px var(--bs-body-bg),
    1px -1px var(--bs-body-bg),
    -1px 1px var(--bs-body-bg);
}
