.img-popover {
  width: 300px;
  height: auto;

  &-mobile {
    width: 80vw;
    max-width: 300px;
  }
}

.text-name {
  color: var(--bs-body-color) !important;
  text-shadow:
    1px 0 #fff,
    -1px 0 #fff,
    0 1px #fff,
    0 -1px #fff,
    1px 1px #fff,
    -1px -1px #fff,
    1px -1px #fff,
    -1px 1px #fff;
}
