<ng-container *transloco="let t; read: 'deck_shared'">
  <div class="crypt-card" *ngIf="cardList[index] as card">
    <div class="row">
      <div class="col-sm-12 col-md-5 pe-0 bg-black">
        @if( card.i18n && card.i18n.image ){
        <img #i18nImage class="rounded mx-auto d-block img-fluid" [src]="'/assets' + card.i18n.image"
          [alt]="card.i18n.name" (error)="i18nImage.src='/assets' + card.image" />
        }
        @else {
        <img class="rounded mx-auto d-block img-fluid" [src]="'/assets' + card.image" [alt]="card.name" />
        }
      </div>
      <div class="col-sm-12 col-md-7 ps-0">
        <div class="modal-header">
          <h4 class="modal-title d-flex align-items-center">
            <i class="vtes vtes-big float-start" [ngClass]="card.clanIcon" [title]="card.clan"></i>
            <span class="d-flex flex-column">
              @if( card.i18n && card.i18n.name !== card.name ){
              <span>
                {{ card.i18n.name }}
              </span>
              <span class="text-muted default-locale-name">
                {{ card.name }}
              </span>
              }
              @else{
              <span>
                {{ card.name }}
              </span>
              @if(card.aka && card.aka !== card.name){
              <span class="text-muted default-locale-name">
                {{ card.aka }}
              </span>
              }
              }
            </span>
            <small class="float-start ms-1 d-none d-sm-inline">
              <span class="badge rounded-pill bg-dark text-white crypt_group">
                {{ card.group == -1 ? "any" : "G"+card.group }}
              </span>
            </small>
          </h4>
          <button type="button" class="btn-close" [attr.aria-label]="'shared.close' | transloco"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body flex-wrap">
          <p>
            <ng-container *ngFor="let discipline of card.disciplineIcons">
              <i class="vtes" [ngClass]="discipline"></i>
            </ng-container>
            <i *ngIf="card.adv" class="vtes float-end advanced"></i>
            <span class="badge rounded-pill bg-danger float-end">
              {{ card.capacity }}
            </span>
          </p>
          <hr />
          <p><strong>{{ t('sets') }}:&nbsp;</strong>
            <span class="badge text-bg-secondary me-1" *ngFor="let set of card.sets" #tooltip="ngbTooltip"
              [ngbTooltip]="setContent" triggers="mouseenter:mouseleave" (click)="tooltip.open()">
              {{ set }}&nbsp;
              <ng-template #setContent>
                <app-set-tooltip [set]="set"></app-set-tooltip>
              </ng-template>
            </span>
          </p>
          <p>

            <strong>{{ t('artist') }}: </strong>{{ card.artist }}
            <!--TODO: Implement artist filter-->
            <!--a class="text-decoration-none" routerLink="/cards/crypt"
            [queryParams]="{ artist: card.artist }" (click)="modal.dismiss('Link click')">
            {{ card.artist }}
          </a-->
          </p>
          <ng-container *ngIf="(krcgCard$ | async)?.rulings as krcgRulings">
            <strong>{{ t('rulings') }}</strong>
            <ul>
              <li *ngFor="let ruling of krcgRulings">
                <app-ruling-text [ruling]="ruling"></app-ruling-text>
              </li>
            </ul>
          </ng-container>
          <ng-container *ngIf="(preconstructedDecks$ | async)?.decks as decks">
            <ng-container *ngIf="card.printOnDemand || decks.length > 0">
              <strong>{{ t('where_find') }}</strong>
              <ul>
                <li *ngFor="let shop of (shops$ | async)!">
                  <ng-container *ngIf="getShopInfo(shop.platform) as shopInfo">
                    <a class="text-decoration-none" [href]="shop.link" target="_blank" gaEvent="purchase"
                      [gaCategory]="shop.platform" [gaLabel]="card.name">
                      {{ shopInfo.name }}
                    </a>
                  </ng-container>
                </li>
                <li *ngFor="let deck of decks">
                  <a class="text-decoration-none" [routerLink]="'/deck/'+deck.id" (click)="modal.dismiss('Link click')">
                    {{ deck.name }} ({{ deck.year }})
                  </a>
                </li>
              </ul>
            </ng-container>
          </ng-container>
        </div>
        <div class="modal-footer align-self-end">
          <div class="row justify-content-between w-100">
            <button type="button" class="btn btn-primary col-auto me-auto" [title]="t('search_title')"
              routerLink="/decks" [queryParams]="{ cards: card.id+'=1' }" (click)="modal.dismiss('Link click')">
              <i class="bi bi-stack"></i> {{ t('search') }}
            </button>
            <ng-container *ngFor="let shop of (shops$ | async)!">
              <ng-container *ngIf="getShopInfo(shop.platform) as shopInfo">
                <a type="button" class="btn btn-success col-auto me-auto" [title]="t('buy', { name: shopInfo.name })"
                  [href]="shop.link" target="_blank" gaEvent="purchase" [gaCategory]="shop.platform"
                  [gaLabel]="card.name">
                  <i class="bi bi-cart4"></i>
                  <span *ngIf="!(isMobile$ | async)!">&nbsp;{{ shopInfo.name }}</span>
                  <span *ngIf="(isMobile$ | async)!">&nbsp;{{ shopInfo.abbr }}</span>
                </a>
              </ng-container>
            </ng-container>
            <small class="col-auto text-muted mt-2">#{{card.id}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hasMore" class="card-button card-button-previous text-light ps-0 ps-md-5" [title]="t('previous_card')"
    [ngClass]="{
  'opacity-75 card-button-mobile':(isMobile$ | async)!
}" (click)="previousCard()">
    <i class="bi bi-fs-5x bi-caret-left-fill"></i>
  </div>
  <div *ngIf="hasMore" class="card-button card-button-next text-light pe-0 pe-md-5" [title]="t('next_card')" [ngClass]="{
  'opacity-75 card-button-mobile':(isMobile$ | async)!
}" (click)="nextCard()">
    <i class="bi bi-fs-5x bi-caret-right-fill"></i>
  </div>
</ng-container>