<ng-container *transloco="let t; prefix: 'deck_shared'">
  @if (cardList[index]; as card) {
  @let cardInfo = cardInfo$ | async;
  <div class="library-card">
    <div class="row">
      <div class="col-sm-12 col-md-5 pe-0 bg-black">
        <div class="position-relative card-image-container">
          <img #cardImage class="rounded mx-auto d-block img-fluid" [defaultImage]="'/assets/img/cardbacklibrary.jpg'"
            [lazyLoad]="card | cardImage:activeSet" [errorImage]="cdnDomain + card.image"
            (onStateChange)="onLazyLoadEvent($event)" [alt]="card?.i18n?.name ?? card.name" />
          <div class="card-text-icon position-absolute">
            <i class="bi bi-file-text-fill"></i>
          </div>
          <div
            class="card-text-overlay position-absolute bottom-0 start-0 w-100 bg-dark bg-opacity-75 text-white text-center small p-2"
            [innerHTML]="card.i18n?.text || card.text | cardText">
          </div>
        </div>
        @if(setImageError) {
        <div class="text-center text-warning small my-2">
          {{ 'deck_shared.set_image_not_available' | transloco }}
        </div>
        }
        @if(!(isMobile$ | async)! && card.sets && card.sets.length > 1) {
        <div class="d-flex flex-wrap my-2 justify-content-center align-items-center">
          @for (set of card.sets; track $index) {
          <span class="badge me-1"
            [ngClass]="{ 'text-bg-secondary': activeSet !== set, 'text-bg-primary border border-primary border-1': activeSet === set }"
            tabindex="0" (click)="setActiveSet(set)" [title]="set" role="button">{{ set }}</span>
          }
        </div>
        }
      </div>
      <div class="modal-right-body col-sm-12 col-md-7 ps-0">
        <div class="modal-header">
          <h4 class="modal-title d-flex align-items-center">
            @for (typeIcon of card.typeIcons; track $index) {
            <i class="vtes vtes-big float-start" [ngClass]="typeIcon"></i>
            }
            @if(card.path){
            <i class="vtes vtes-big path float-start" [ngClass]="card.pathIcon" [title]="card.path"></i>
            }
            <span class="d-flex flex-column">
              @if( card.i18n && card.i18n.name !== card.name ){
              <span>
                {{ card.i18n.name }}
              </span>
              <span class="text-muted default-locale-name">
                {{ card.name }}
              </span>
              }
              @else{
              <span>
                {{ card.name }}
              </span>
              @if(card.aka && card.aka !== card.name){
              <span class="text-muted default-locale-name">
                {{ card.aka }}
              </span>
              }
              }
            </span>
          </h4>
          <button type="button" class="btn-close" [attr.aria-label]="'shared.close' | transloco"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body flex-wrap">
          <div class="d-flex flex-column h-100">
            <div class="flex-grow-0">
              @if (card.trifle) {
              <span class="badge rounded-pill bg-dark text-white d-none d-sm-inline ms-1 float-end">
                {{ 'vtes.type.trifle' | transloco }}
              </span>
              }
              @if (card.bloodCost) {
              <i class="vtes float-end me-1" [ngClass]="{
            'bloodx': card.bloodCost < 0,
            'blood1': card.bloodCost === 1,
            'blood2': card.bloodCost === 2,
            'blood3': card.bloodCost === 3,
            'blood4': card.bloodCost === 4,
            'bloodcost': card.bloodCost > 4
          }"></i>
              }
              @if (card.poolCost) {
              <i class="vtes float-end me-1" [ngClass]="{
            'poolx': card.poolCost < 0,
            'pool1': card.poolCost === 1,
            'pool2': card.poolCost === 2,
            'pool3': card.poolCost === 3,
            'pool4': card.poolCost === 4,
            'pool5': card.poolCost === 5,
            'pool6': card.poolCost === 6,
            'poolcost': card.poolCost > 6
          }"></i>
              }
              @for (discipline of card.disciplineIcons; track $index) {
              <i class="vtes float-end me-1" [ngClass]="discipline"></i>
              }
              @if (card.burn) {
              <i class="vtes float-end burnoption me-1"></i>
              }
              @for (clanIcon of card.clanIcons; track $index) {
              <i class="vtes float-end me-1" [ngClass]="clanIcon"></i>
              }

              <app-card-info [card]="card" [cardInfo]="cardInfo" (routerClick)="modal.dismiss('Link click')" />
            </div>
            <small class="mt-auto d-block text-end text-muted pt-2">#{{card.id}}</small>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row justify-content-start align-items-center w-100 g-2">
            <button type="button" class="btn btn-primary col-auto me-1" (click)="onShare()">
              <i class="bi bi-share me-2"></i>{{ t('share') }}
            </button>
            <button type="button" class="btn btn-primary col-auto me-2" [title]="t('search_title')" routerLink="/decks"
              [queryParams]="{ cards: card.id+'=1' }" (click)="modal.dismiss('Link click')">
              <i class="bi bi-search"></i> {{ t('search') }}
            </button>

            @for (shop of cardInfo?.shopList; track shop.link) {
            @if(shop.inStock && shop.shopInfo.showButton){
            <a type="button" class="btn btn-sm btn-success col-auto me-1"
              [title]="t('buy', { name: shop.shopInfo.fullName })" [href]="shop.link" target="_blank" gaEvent="purchase"
              [gaCategory]="shop.shopInfo.name" [gaLabel]="card.name">
              <i class="bi bi-cart4"></i>
              <span>&nbsp;{{ shop.shopInfo.fullName }}</span><br />{{ shop.price | currency:shop.currency }}
            </a>
            }
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  }
  @if (hasMore) {
  <div class="card-button card-button-previous text-light ps-0 ps-md-5" [title]="t('previous_card')" [ngClass]="{
  'opacity-75 card-button-mobile':(isMobile$ | async)!
}" (click)="previousCard()">
    <i class="bi bi-fs-5x bi-caret-left-fill"></i>
  </div>
  }
  @if (hasMore) {
  <div class="card-button card-button-next text-light pe-0 pe-md-5" [title]="t('next_card')" [ngClass]="{
  'opacity-75 card-button-mobile':(isMobile$ | async)!
}" (click)="nextCard()">
    <i class="bi bi-fs-5x bi-caret-right-fill"></i>
  </div>
  }
</ng-container>